*{
    padding: 0%;
    margin: 0%;
}
.body1{
    width: 100%;
    height: 150px;
}
.body2{
    width: auto;
    height: auto;
    background-color: #fff;
}
.logo{
    width: 120px;
    height: 50px;
    margin-left: 35px;
    margin-top: 10px;
}
.reseller, .supplier {
    float: right;
    margin-top: 15px;
    margin-left: 10px;
    width: 150px;
    height: 35px;
    border-radius: 50px;
    border: 0.1px solid rgb(37, 35, 35);
}
.reseller{
    margin-right: 80px;
}
.navbar{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: bottom;
}
.navbar-list{
    position: relative;
    display: flex;
    list-style: none;
    float: right;
    text-decoration: none;
    align-items: center;
    margin-right: 80px;

}
.nav-link{
    display: block;
    position: relative;
    border: 1px;
    border-radius: 50px;
    width: 120px;
    height: 30px;
    padding-right: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    justify-items: center;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(66, 61, 61);
    margin-top: 40px;
    padding-top: 5px;
}

.nav-link:hover, button:hover{
    background-color: red;
    color: #fff;
}
.nav-link:active, button:active{
    background-color: red;
    color: #fff;
}
.banner-box{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
}
.banner-photo{
    width: 300px;
    height: 420px;
    padding-right: 100px;

}
.banner-text{
    padding-right: 150px;
    padding-top: 70px;
}
.banner-text h1{
    font-size: 50px;
}
.banner-text h3{
    font-size: 35px;
    padding-bottom: 70px;
    padding-right: 70px;
}
.banner-text button{
    font-size: 20px;
    text-decoration: none;
    background-color: red;
    border-radius: 8px;
    color: #fff;
    padding: 10px;
    float: left;
}
.banner-text button:hover{
    background-color: green;
}
.card{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: center;
    margin: auto 100px;
    box-sizing: border-box;
    box-shadow: black;
    margin-top: 200px;
}
.card .card-member{
    background-color: rgb(78, 72, 72);
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    position: relative;
}
.card .card-member h2{
    text-align: center;
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: peru;
}
.card .card-member p{
    color: rgb(204, 201, 201);

}
.card .card-member .image{
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
}

.body3{
    background-color: red;
    height: auto;
    margin-top: 50px;
    padding: 50px 50px 10px 100px;
    color: #fff;
}
.footer{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: center;

}
.body3 .footer{
    width: 1000px;
}
.body3 .location h3, h4{
    padding-bottom: 30px;
}
.body3 h5{
    padding-bottom: 10px;
    border: 1px  solid white;
    border-bottom: 0ch;
    border-left: 0ch;
    border-right: 0ch;
}
.body3 .contact h4 a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
data{
    width: auto;
    height: auto;
}
.table-data{
    width: 85%;
    margin: 30px auto;
    border-collapse: collapse;
    
}
.table-head{
    background-color: black;
    color: #fff;
    padding: 20px;
}
th{
    padding: 10px;
    margin: 0%;
}
.table-body{
    text-align: center;
    color: rgb(22, 22, 22);
    
}
tr{
    box-shadow: black;
    box-sizing: border-box;
    border-bottom: 5px solid white;
    
}
td{
    padding: 0px;
    background-color: rgb(230, 230, 221);
    
}
.table-url{
    width: 400px;
    text-align: center;
}
.table-url a{
    text-decoration: none;
    color: black;
    padding-left: 30px;
}
.table-image img{
    width: 70px;
    height: 100px;
    padding: 10px;
}
.copy button{
    padding: 7px;
    color: #fff;
    background-color: rgb(39, 38, 38);
    border: 0px;
}
.remove button{
    padding: 7px;
    color: #fff;
    background-color: red;
    border: 0px;
}
.data h1{
    font-size: 32px;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 85%;
    background-color: black;
    margin: 100px auto;
    margin-bottom: 1px;
}